html {
  height:100%;
  overflow:hidden;
  width:100%;
}

body {
  height:100%;
  width:100%;
  margin:0;
  display:flex;
  flex-direction: column;
}

.title-bar {
  width: 100%;
  height: 22px;
  position: absolute;
  left: 0;
  -webkit-app-region: drag;
  z-index: -1;
  display: block;
  top: 0; 
  flex: none;  
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #444444;
}

.main {
  height:100%;
  width:100%;
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  flex: 1 1;
  min-height: 0; 
  padding-top: 3px;
}

.tabs {
  min-width: 200px;
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: none;
  display: block;
  position: relative;
  background-color: #2c2c2c;

}

.container {
  height: 100%;
  flex: 1 1;
  min-width: 0;
}

.md-container {
  height: 100%;
  flex: 1 1;
  min-width: 0;
  color: rgb(235, 235, 235);
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.md-container a {
  color: #0099ff;
}

.hidden {
  display: none;
}

.tab {
  width: 200px;
  height: 37px;
  border-bottom: 1px solid #444444;
  color: rgb(235, 235, 235);
  font-size: 16px;
  padding: 5px 0 5px 5px;
  overflow: hidden;
}

.tab.selected {
  background-color: #494949;
}

::-webkit-scrollbar {
	width: 12px;
  background-color: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c;
  border-left: 1px solid #444444;
}
